<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Some Website</title>
</head>

<body>
    {{> header}}
    <!-- in  <p> pass the message parameter same as the object registered in the app.get to render -->
    <p>{{screamIt para}}</p>
    {{> footer}}
</body>

</html>